# Django Settings
SECRET_KEY=django-insecure-replace-this-with-something-safe
DEBUG=True

# X (Twitter) API Credentials
X_API_KEY=your_api_key_here
X_API_SECRET=your_api_secret_here
X_ACCESS_TOKEN=your_access_token_here
X_ACCESS_SECRET=your_access_token_secret_here

# Email Settings
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_specific_password

#MariaDB
DB_NAME=eclectic_news
DB_USER=eclectic_admin
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=3306
